<div class='detail_prev_div'>
    <% if(prevPiece){ %>
        <img class='<%= prevClass %>' src='<%= images.PREVIOUS %>' <%= uriAttr %>='<%= prevPiece.get('id') %>/<%= prevPiece.get('slug') %>'/>
    <% } %>
</div>
<div class='detail_image_div'>
    <img class='detail_image_img' src='<%= piece.get("image") %>'
         alt='<%= piece.get("title") %>'
         title='<%= piece.get("title") %>' />
</div>
<div class='detail_meta_div'>
    <div class='detail_meta_title_div'><%= piece.get("title") %></div>
    <div class='detail_meta_date_div'><%= date %></div>
    <div class='detail_meta_size_div'><%= piece.get("width") %>" x <%= piece.get("height") %>"</div>
    <div class='detail_meta_materials_div'><%= piece.get("materials") %></div>
    <div class='detail_meta_blurb_div'><%= piece.get("blurb") %></div>
</div>
<div class='detail_next_div'>
    <% if(nextPiece){ %>
        <img class='<%= nextClass %>' src='<%= images.NEXT %>' <%= uriAttr %>='<%= nextPiece.get('id') %>/<%= nextPiece.get('slug') %>'/>
    <% } %>
</div>

