<% _.each(piece_sets, function(piece_set){ %>
    <div class='grid_year_div'>
        <div class='grid_year_title_div'><%= piece_set.year %></div>
        <div class='grid_year_thumbs_div'>
            <% _.each(piece_set.pieces, function(piece){ %>
                <div class='grid_thumb_div'>
                    <img class='grid_thumb_img' src='<%= piece.get("thumb") %>'
                        alt='<%= piece.get("title") %>'
                        title='<%= piece.get("title") %>'/>
                </div>
            <% }); %>
        </div>
    </div>
<% }); %>