<!doctype html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <title>Portfolio</title>

        <!-- Stylesheet -->
        <!-- <link rel="stylesheet" href="{{STATIC_URL}}css/style.css"> -->

        <!-- Pass constants from the server -->
        <script>
            var Server = Server || {};
            Server.Constants = Server.Constants || {};
            // Get the api url from the dispatch list
            Server.Constants.PIECE_API = "{% url 'api_dispatch_list' resource_name='piece' api_name='viewer_api' %}";
            Server.Constants.FLATPAGE_API = "{% url 'api_dispatch_list' resource_name='flatpage' api_name='viewer_api' %}";
            Server.Constants.LINK_API = "{% url 'api_dispatch_list' resource_name='link' api_name='viewer_api' %}";
            // Pass the available work types for the navigation bar
            // Turn autoescape off to avoid automatic encoding of quotes
            Server.Constants.WORK_TYPES = ["{% autoescape off %}{{ types }}{% endautoescape %}"];
        </script>

        <!-- Loads the require bootstrap -->
        <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/libs/require/require-jquery.js"></script>
    </head>
    <body>
        <div id="viewer_panel">
            <div id="header_panel">
                <div id="type_navigation_panel"></div>
                <div id="logo_panel"></div>
            </div>
            <div id="banner_top_panel"></div>
            <div id="content_panel"></div>
            <div id="banner_bottom_panel"></div>
            <div id="footer_panel">
                <div id="page_navigation_panel"></div>
                <div id="copyright_panel"></div>
            </div>
        </div>
    </body>
</html>